[Unit]
Description=Timer for Uptime Check Service
Requires=check_uptime.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
